.container{
  max-width: 800px;
  margin: 230px auto;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(to top, #43043d, #4f1c5d, #533380, #4d4ba5, #3065c9);
}

.customBtn{
  margin: 10px;
  background-color: inherit;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.customBtn:hover{
  background-color: white;
  color: #43043d;
  transition: .3s linear;
}
